<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.syswork.sysmobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="7"
        android:targetSdkVersion= "17"
        android:maxSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
		
		
    <application
        android:name="ar.com.syswork.sysmobile.shared.AppSysMobile"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        
        <activity
            android:name="ar.com.syswork.sysmobile.psplash.ActivitySplash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="ar.com.syswork.sysmobile.plogin.ActivityLogin"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <activity
            android:name="ar.com.syswork.sysmobile.pmenuprincipal.ActivityMenuPrincipal"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity_pmenu_principal" >
        </activity>
        
        <activity
            android:name="ar.com.syswork.sysmobile.pconfig.ActivityConfig"
            android:label="@string/title_activity_activity_config" >
        </activity>
        
        <activity
            android:name="ar.com.syswork.sysmobile.pconsultaclientes.ActivityConsultaClientes"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity_consulta_clientes" >
        </activity>
        <activity
            android:name="ar.com.syswork.sysmobile.pconsultagenerica.detalle.ActivityConsultaGenericaDetalle"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity_consulta_clientes_editar" >
        </activity>
        <activity
            android:name="ar.com.syswork.sysmobile.pconsultaarticulos.ActivityConsultaArticulos"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity_consulta_articulos" >
        </activity>
        <activity
            android:name="ar.com.syswork.sysmobile.pcargapedidos.ActivityCargaPedidos"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity_toma_pedidos" >
        </activity>
        <activity
            android:name="ar.com.syswork.sysmobile.plistapedidos.ActivityListaPedidos"
            android:label="@string/title_activity_activity_lista_pedidos" >
        </activity>
        <activity
            android:name="ar.com.syswork.sysmobile.psincronizar.ActivitySincronizar"
            android:label="@string/title_activity_activity_sincornizar" >
        </activity>
        <activity
            android:name="ar.com.syswork.sysmobile.penviapendientes.ActivityEnviaPendientes"
            android:label="@string/title_activity_activity_envia_pendientes" >
        </activity>
        <activity
            android:name="ar.com.syswork.sysmobile.pconsultactacte.ActivityConsultaCtaCte"
            android:label="@string/title_activity_activity_consulta_cta_cte" >
        </activity>
        <activity
            android:name="ar.com.syswork.sysmobile.pconsultastock.ActivityConsultaStock"
            android:label="@string/title_activity_activity_consulta_stock" >
        </activity>
        
    </application>

</manifest>